.first {
  width: 30%;
}

.ellipsis {
  position: relative;
}

  .ellipsis:before {
    content: ' ';
    visibility: hidden;
  }

  .ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
