<!-- Page Header Start -->
<section class="page-header">
  <div class="page-header-bg" style="background-image: url('assets/images/backgrounds/bani.jpg');">
  </div>
  <div class="container">
    <div class="page-header__inner">
      <ul class="thm-breadcrumb list-unstyled" style="padding-inline-start:0px">
        <h2>السياحة في الشمال</h2>
        <li><a href="/">الرئيسية</a></li>
        <li><span>/</span></li>
        <li class="header-size">السياحة</li>
      </ul>
    </div>
  </div>
</section>

<section class="department-page">
  <div class="container">
    <div class="section-title text-center">
      <div class="section-title__icon">
        <span class="fa fa-star"></span>
      </div>
      <span class="section-title__tagline">ألبوماتنا</span>
      <h2 class="section-title__title">اكتشف معالم السياحة في الشمال</h2>
    </div>

    <div class="row">
      <!-- Loop through each landmark in landData array -->
      <div *ngFor="let land of landData" class="col-xl-3 col-lg-3 col-md-6">
        <div class="department-two__single landmark-card">
          <div class="department-two__img-box">
            <div class="department-two__img">
              <img [src]="'https://localhost:7243' + land.image" alt="{{ land.name }}" class="landmark-image">
            </div>
            <div class="department-two__content">
              <h3 class="department-two__title">
                <a [href]="'https://localhost:7243/single_gallery/' + land.id + '/album'">{{ land.name }}</a>
              </h3>
              <div class="department-two__icon">
                <span class="icon-lotus"></span>
              </div>
            </div>
            <div class="department-two__content-two">
              <h3 class="department-two__title-two">
                <a [href]="'https://localhost:7243/single_gallery/' + land.id + '/album'">{{ land.name }}</a>
              </h3>
              <p class="department-two__text">{{ land.description | truncate:50}}</p>
              <div class="department-two__btn-box">
                <a [href]="'https://localhost:7243/single_gallery/' + land.id + '/album'" class="department-two__btn">
                  تصفح الألبوم <i class="icon-right-arrow"></i>
                </a>
              </div>
              <div class="department-two__icon-two">
                <span class="icon-lotus"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of landmark item loop -->
    </div>
  </div>
</section>
