<section class="page-header">
  <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/1.jpg)">
  </div>
  <div class="container">
    <div class="page-header__inner">
      <h2>
        أقسام بلدية بني عبيد
      </h2> <!-- Title added in Arabic -->
      <ul class="thm-breadcrumb list-unstyled">
        <li><a routerLink="">الرئيسية</a></li>
        <!-- Home in Arabic -->
        <li><span>/</span></li>
        <li>الأقسام</li> <!-- Portfolio in Arabic -->
      </ul>
    </div>
  </div>
</section>

<div class="container">
  <div class="section-card" *ngFor="let section of sections">
    <img [src]="section.image" [alt]="section.name" class="section-image" />
    <div class="section-details">
      <h2>{{ section.name }}</h2>
      <p>{{ section.info }}</p>
    </div>
  </div>
</div>
