<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item"
         *ngFor="let image of HomeImageArray; let i = index"
         [class.active]="i === 0">
      <!-- الصورة كخلفية -->
      <div class="carousel-background"
           [style.backgroundImage]="'url(https://localhost:7243' + image.homeImage + ')'"></div>
      <div class="carousel-overlay">
        <!-- الحرارة والوقت -->

        <div class="meta-box">
          <!-- عنصر الحرارة -->
          <div class="meta-item">
            <div class="icon-text">
              <div class="text">
                <div class="title">الحرارة</div>
                <div class="value">18°C</div>
              </div>
              <span class="icon fas fa-sun"></span>
            </div>
          </div>
          <div class="separator"></div>
          <!-- عنصر الوقت -->
          <div class="meta-item">
            <div class="icon-text">
              <div class="text">
                <div class="title">الوقت</div>
                <div class="value">{{ currentTime }}</div>
              </div>
              <span class="icon fas fa-clock"></span>
            </div>
          </div>
        </div>



        <!-- النص والزر -->
        <div class="container" style="direction: rtl;">
          <div class="carousel-caption">
            <h2>{{ image.homeTitle }}</h2>
            <p>{{ image.homeDescription }}</p>
            <!-- زر ديناميكي -->
            <a [routerLink]="i === 0 ? '/AboutMunicipality' : i === 1 ? '/President' : '/Events'"
               class="btn btn-custom">اكتشف المزيد</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
