<section class="brand-one">
  <div class="container">
    <div class="brand-one__title" dir="ltr" lang="en">
      <p style="font-size: 25px;">شركاؤنا</p>
    </div>

    <owl-carousel-o [options]="carouselOptions" lang="en" dir="ltr">
      <ng-container *ngFor="let partner of partnersArray">
        <ng-template carouselSlide>
          <div class="brand-one__single">
            <div class="brand-one__img">
              <a [href]="partner.link" target="_blank">
                <img [src]="'https://localhost:7243' + partner.logo"
                     alt="{{ partner.name }}"
                     style="max-height: 50px" />
              </a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
