<section class="brand-one">
  <div class="container">
    <!-- Section Title -->
    <header class="brand-one__title text-center" dir="ltr" lang="en">
      <p class="brand-one__title-text" style="font-size: 25px;">شركاؤنا</p>
    </header>

    <!-- Partner Carousel -->
    <div id="partnerCarousel" class="owl-carousel owl-theme">
      <!-- Loop through the partnersArray -->
      <div *ngFor="let partner of partnersArray"
           class="brand-one__single"
           [attr.aria-label]="'Visit ' + partner.name">
        <figure class="brand-one__img">
          <a [href]="partner.link" target="_blank" rel="noopener noreferrer">
            <img [src]="'https://localhost:7243' + partner.logo"
                 [alt]="partner.name"
                 style="width: 400px; height: 400px;" />
          </a>
        </figure>
      </div>
    </div>
    <!-- End Partner Carousel -->
  </div>
</section>
