    <!--Site Footer Start-->
<footer class="site-footer" dir="rtl" *ngIf="!isAdminLogin()">
    <div class="container">
      <div class="site-footer__middle">
        <div class="row">

          <!-- Logo Section Start -->
          <div class="col-xl-3 col-lg-3 col-md-12 d-flex align-items-center justify-content-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <img src="assets/images/resources/logobani.jpg" alt="Logo" style="width: 170px; height: auto;">
          </div>
          <!-- Logo Section End -->


          <div class="col-xl-9 col-lg-9 col-md-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row">

              <div class="col-md-4">
                <div class="footer-widget__column footer-widget__link text-center">
                  <div class="footer-widget__title-box">
                    <h3 class="footer-widget__title">حول</h3>
                  </div>
                  <ul class="footer-widget__link-list list-unstyled" style="padding-right: 0px">
                    <li><a href="/MunicipalityMember">الأعضاء</a></li>
                    <li><a href="/AboutMunicipality">نبذة عن البلدية</a></li>
                    <li><a href="/President">كلمة الرئيس</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <div class="footer-widget__column footer-widget__explore text-center">
                  <div class="footer-widget__title-box">
                    <h3 class="footer-widget__title">المركز الإعلامي</h3>
                  </div>
                  <ul class="footer-widget__link-list list-unstyled" style="padding-right: 0px">
                    <li><a href="/jobs/1">فرص العمل</a></li>
                    <li><a href="/Events">الفعاليات</a></li>
                    <li><a href="/news">الأخبار</a></li>
                    <li><a href="/gallery">معرض الصور</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <div class="footer-widget__column footer-widget__Contact text-center">
                  <div class="footer-widget__title-box">
                    <h3 class="footer-widget__title">اتصل بنا</h3>
                  </div>
                  <p class="footer-widget__Contact-text">اربد - بني عبيد</p>
                  <ul class="list-unstyled" style="padding-right: 0px">
                    <li>
                      <div class="text">
                        <div class="icon">
                          <p><a href="mailto:" dir="ltr">banioubaid.municgmail.com</a></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="text">
                        <p><a href="tel:+962 7 8608 8830" dir="ltr">+962 7 0000 0000</a></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="site-footer__bottom">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="site-footer__bottom-inner">
              <p class="site-footer__bottom-text">
                <a href="/team" style="color: orange;">
                  Powerd by Coding
                  Academy By Orange | Irbid
                </a> © 2024
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
