.our-history__img img,
.our-history__img-two img,
.our-history__img-box img,
.our-history__img-box-two img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional for rounded corners */
  transform: none !important; /* Remove any transformation */
  rotate: 11.5deg !important;
  perspective: none !important; /* Remove any perspective distortion */
  animation: none !important; /* Disable any animations that may affect the image */
  transition: none !important; /* Disable transitions */
  object-fit: cover; /* Maintain aspect ratio within the container */
}
/* Align text to the left */
.text-align-left {
  text-align: left;
}

/* Align text to the right */
.text-align-right {
  text-align: right;
}
