<!--Page Header Start-->
<section class="page-header">
  <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
  </div>
  <div class="container">
    <div class="page-header__inner">
      <h2>معالم سياحية في بني عبيد</h2> <!-- Title added in Arabic -->
      <ul class="thm-breadcrumb list-unstyled">
        <li><a href="index.html">الرئيسية</a></li> <!-- Home in Arabic -->
        <li><span>/</span></li>
        <li>المعرض</li> <!-- Portfolio in Arabic -->
      </ul>
    </div>
  </div>
</section>

<section class="portfolio-page">
  <div class="container">
    <div class="row">
      <div *ngFor="let land of landData" class="col-xl-4 col-lg-6 col-md-6">
        <div class="portfolio-page__single">
          <div class="portfolio-page__img-box">
            <div class="portfolio-page__img">
              <img [src]="'https://localhost:7243' + land.image" alt="{{ land.name }}" class="portfolio-image"> 
            </div>
            <div class="portfolio-page__content">
              <p class="portfolio-page__sub-title">{{land.location}}</p> 
              <h4 class="portfolio-page__title">
                <a href="portfolio-details.html">{{land.name}}</a> 
              </h4>
            </div>
            <h4 class="portfolio-page__title">
              <a href="portfolio-details.html">{{land.name}}</a> 
            </h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Portfolio Page End-->
