<header class="brand-one__title text-center" dir="ltr" lang="en">
  <p class="brand-one__title-text" style="font-size: 25px;">رآيكم بهمنا</p>
</header>

<section class="feature-four">
  <div class="container" dir="rtl">
    <div class="row">
      <!-- استطلاعات الرأي -->
      <div class="col-xl-4 col-lg-4" style="color: white;">
        <div class="feature-four__single">
          <div class="feature-four__img-box">
            <img src="../../../assets/images/Polls/استطلاعات الرأي.png" alt="استطلاعات الرأي" class="feature-four__img">
          </div>
          <h3 class="feature-four__title">
            <a routerLink="/Polls">استطلاعات الرأي</a>
          </h3>
          <div class="contact-two__btn-box">
            <a routerLink="/Polls" class="thm-btn contact-two__btn">انتقل الى الخدمة</a>
          </div>
        </div>
      </div>
      <!-- افكار و مبادرات -->
      <div class="col-xl-4 col-lg-4">
        <div class="feature-four__single">
          <div class="feature-four__img-box">
            <img src="../../../assets/images/Polls/افكار ومبادرات.jpg" alt="افكار و مبادرات" class="feature-four__img">
          </div>
          <h3 class="feature-four__title">
            <a routerLink="/AddSuggestions">افكار و مبادرات</a>
          </h3>
          <div class="contact-two__btn-box">
            <a routerLink="/AddSuggestions" class="thm-btn contact-two__btn">انتقل الى الخدمة</a>
          </div>
        </div>
      </div>
      <!-- شكاوي و اقتراحات -->
      <div class="col-xl-4 col-lg-4">
        <div class="feature-four__single">
          <div class="feature-four__img-box" style="background-color: white;">
            <img src="../../../assets/images/Polls/شكاوي واقتراحات.png" alt="شكاوي و اقتراحات" class="feature-four__img">
          </div>
          <h3 class="feature-four__title">
            <a routerLink="/complain">شكاوي و اقتراحات</a>
          </h3>
          <div class="contact-two__btn-box">
            <a routerLink="/complain" class="thm-btn contact-two__btn">انتقل الى الخدمة</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
