.select-poll {
   background-color: var(--govity-primary);
  border: none;
  color: var(--govity-gray);
  font-size: 14px;
  font-weight: 400;
  height: 70px;
  line-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-bottom: 0px;
}
.agree {
  color: #0ca554;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 5rem;
}
