<body class="custom-cursor">


  <div class="page-wrapper">


    <div class="stricky-header stricked-menu main-menu">
      <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->
    <!-- Main Sllider Start -->
    <app-image-home-page></app-image-home-page>
    <!-- Main Sllider Start -->
    <!--Department One Start-->

    <app-home-president></app-home-president>

    <!--Department One End-->
    <!--About One Start-->

    <app-e-service></app-e-service>

    <!--About One End-->
    <!--Feature One Start-->

    <app-statistics></app-statistics>

    <!--Feature One End-->
    <!--Portfolio One Start-->

    <app-partner></app-partner>

    <!--Portfolio One End-->
    <!--Services One Start-->


  <!--Services One End-->
    <!--Video One Start-->


  <!--Video One End-->
    <!--Documents One Start-->


    <!--Documents One End-->
    <!--Counter One Start-->


  <!--Counter One End-->
    <!--Team One Start-->


  <!--Team One End-->
    <!--Testimonial One Start-->


  <!--Testimonial One End-->
    <!--Brand One Start-->

    <app-home-event></app-home-event>

    <!--News One Start-->

    <app-feature></app-feature>

    <!--News One End-->
    </div>
</body>
