<!-- app-navigation.component.html -->
<div class="sidebar">
  <div class="logo">Dashboard</div>

  <div class="nav-section">MAIN</div>
  <a routerLink="/adminDashboard/home" class="nav-link" routerLinkActive="active">
    <span class="link-highlight"></span>
    <i class="fas fa-home"></i> Dashboard
  </a>

  <div class="nav-section">APPLICATIONS</div>
  <a routerLink="/#" class="nav-link" routerLinkActive="active">
    <span class="link-highlight"></span>
    <i class="fas fa-users"></i> Somthing
  </a>
  <a routerLink="/#" class="nav-link" routerLinkActive="active">
    <span class="link-highlight"></span>
    <i class="fas fa-user-plus"></i> Somthing
  </a>
  <a routerLink="/#" class="nav-link" routerLinkActive="active">
    <span class="link-highlight"></span>
    <i class="fas fa-download"></i> Somthing
  </a>
  <a routerLink="/adminDashboard/polls" class="nav-link" routerLinkActive="active">
  <span class="link-highlight"></span>
  <i class="fas fa-poll"></i> Polls
</a>

  <div class="nav-section">ACCOUNT</div>
  <a routerLink="/adminDashboard/profile" class="nav-link" routerLinkActive="active">
    <span class="link-highlight"></span>
    <i class="fas fa-user-alt"></i> Profile
  </a>
  <a routerLink="/admin" (click)="Logout()" class="nav-link">
    <span class="link-highlight"></span>
    <i class="fas fa-sign-out-alt"></i> Logout
  </a>
</div>
