

<div class="app-container">

  <!-- app-navigation.component.html -->
  <div class="sidebar">
    <div class="logo">Dashboard</div>

    <div class="nav-section">MAIN</div>
    <a routerLink="/adminDashboard/home" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-home"></i> Dashboard
    </a>

    <div class="nav-section">APPLICATIONS</div>
    <a routerLink="/adminDashboard/tenders" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-users"></i> العطاءات
    </a>
    <a routerLink="/adminDashboard/suggestions" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-user-plus"></i> الإقتراحات
    </a>

    <a routerLink="/adminDashboard/JobsManagement" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-download"></i>إدارة الوظائف
    </a>

    <a routerLink="/adminDashboard/eventManagement" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-download"></i>إدارة الفعاليات
    </a>

    <a routerLink="/adminDashboard/RegistrationManagement" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-download"></i>إدارة التسجيلات
    </a>
    <a routerLink="/adminDashboard/polls" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-poll"></i> إدارة استطلاعات الرأي
    </a>

    <div class="nav-section">ACCOUNT</div>
    <a routerLink="/adminDashboard/profile" class="nav-link" routerLinkActive="active">
      <span class="link-highlight"></span>
      <i class="fas fa-user-alt"></i> حساب المستخدم
    </a>
    <a routerLink="/admin" (click)="Logout()" class="nav-link">
      <span class="link-highlight"></span>
      <i class="fas fa-sign-out-alt"></i> تسجيل الخروج
    </a>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
