

<section class="page-header">
  <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/1.jpg)">
  </div>
  <div class="container">
    <div class="page-header__inner">
      <h2>الأفكار والمبادرات</h2>
      <ul class="thm-breadcrumb list-unstyled">
        <li><a routerLink="">الرئيسية</a></li>
        <li><span>/</span></li>
        <li>الأفكار والمبادرات</li>
      </ul>
    </div>
  </div>
</section>




<!--<section class="contact-two">
  <div class="contact-two__bg"></div>
  <div class="container">
    <div class="section-title text-center">
      <p class="section-title__title">تقديم الأفكار والمبادرات</p>
      <div class="section-title__icon">
        <span class="fa fa-star"></span>
      </div>
      <p style="text-align: justify; margin-top: 2%">
        نظرًا لاهتمامنا بالابتكار وتحفيز ثقافة الأفكار الجديدة، قمنا بتيسير عملية تقديم الأفكار والمبادرات عبر
        موقعنا.
        هدفنا هو توفير الفرصة لكم للمساهمة بأفكاركم الرائعة. فأيها المواطن الكريم، أيتها المواطنة الكريمة، حان
        وقتكم لتقديم أفكاركم ومساهماتكم إلى بلدية بني عبيد.
        يُمكنكم تقديم أي فكرة من أي مكان وفي أي وقت.
      </p>
    </div>
    <div class="contact-two__form-box">
      <form #addsuggestion="ngForm" (ngSubmit)="addSuggestion(addsuggestion.value)">-->
<!--<input type="hidden" name="_method" value="POST">

<input type="hidden" name="_token" value="YOUR_CSRF_TOKEN">-->
<!--<div class="row">

  <div class="col-xl-6">
    <label for="name">الاسم</label>
    <span style="color: red;">*</span>
    <div class="contact-two__input-box">
      <input type="text" placeholder="الاسم" name="Name" ngModel id="name" required>

      <div class="text-danger small" style="display: none;">Error message for name</div>
    </div>
  </div>


  <div class="col-xl-6">
    <label for="phone">رقم الهاتف</label>
    <span style="color: red;">*</span>
    <div class="contact-two__input-box">
      <input type="text" placeholder="رقم الهاتف" name="Number" ngModel id="phone" required>

      <div class="text-danger small" style="display: none;">Error message for phone</div>
    </div>
  </div>
</div>-->
<!-- Sector and Place -->
<!--<div class="row">
  <div class="col-xl-6">
    <label for="sector">القطاع</label>
    <span style="color: red;">*</span>
    <div class="contact-two__input-box">
      <input type="text" placeholder="القطاع" name="Sector" ngModel id="sector" required>-->
<!-- Error message placeholder for sector -->
<!--<div class="text-danger small" style="display: none;">Error message for sector</div>
  </div>
</div>

<div class="col-xl-6">
  <label for="place">المكان</label>
  <span style="color: red;">*</span>
  <div class="contact-two__input-box">
    <input type="text" placeholder="المكان" name="Place" ngModel id="place" required>-->
<!-- Error message placeholder for place -->
<!--<div class="text-danger small" style="display: none;">Error message for place</div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xl-6">
    <label for="place">البريد الالكتروني</label>
    <span style="color: red;">*</span>
    <div class="contact-two__input-box">
      <input type="text" placeholder="البريد الالكتروني" name="Email" ngModel id="email" required>-->
<!-- Error message placeholder for place -->
<!--<div class="text-danger small" style="display: none;">Error message for email</div>
    </div>
  </div>
</div>-->
<!-- Idea description -->
<!--<div class="row">
  <div class="col-xl-12">
    <label for="description">تفاصيل الفكرة</label>
    <span style="color: red;">*</span>
    <div class="contact-two__input-box text-message-box">
      <textarea name="Details" ngModel placeholder="تفاصيل الفكرة" id="description" required></textarea>-->
<!-- Error message placeholder for description -->
<!--<div class="text-danger small" style="display: none;">Error message for description</div>
            </div>
            <p style="text-align: justify; margin-top: 6%">
              ملاحظة: جميع الحقول المسبوقة بـــ
              <span style="color: red;">*</span>
              إجبارية وفي حالة عدم إدخال أي من هذه البيانات ستظهر رسالة باللون الأحمر تطلب إدخال بيانات
              الحقل
            </p>
            <div class="contact-two__btn-box">
              <button type="submit" class="thm-btn contact-two__btn">أرسل</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>-->
<!-- Ideas Submission Page End -->
<section class="contact-two">
  <div class="contact-two__bg"></div>
  <div class="container">
    <div class="section-title text-center">
      <p class="section-title__title">تقديم الأفكار والمبادرات</p>
      <div class="section-title__icon">
        <span class="fa fa-star"></span>
      </div>
      <p style="text-align: justify; margin-top: 2%">
        نظرًا لاهتمامنا بالابتكار وتحفيز ثقافة الأفكار الجديدة، قمنا بتيسير عملية تقديم الأفكار والمبادرات عبر
        موقعنا.
        هدفنا هو توفير الفرصة لكم للمساهمة بأفكاركم الرائعة. فأيها المواطن الكريم، أيتها المواطنة الكريمة، حان
        وقتكم لتقديم أفكاركم ومساهماتكم إلى بلدية بني عبيد.
        يُمكنكم تقديم أي فكرة من أي مكان وفي أي وقت.
      </p>
    </div>
    <div class="contact-two__form-box">
      <form #addsuggestion="ngForm" (ngSubmit)="addSuggestion(addsuggestion.value,addsuggestion)">
        <div class="row">
          <div class="col-xl-6">
            <label for="name">الاسم</label>
            <span style="color: red;">*</span>
            <div class="contact-two__input-box">
              <input type="text" placeholder="الاسم" name="Name" ngModel id="name" required>
              <div class="text-danger small" *ngIf="addsuggestion.controls['Name']?.invalid && addsuggestion.controls['Name']?.touched">الاسم مطلوب</div>
            </div>
          </div>

          <div class="col-xl-6">
            <label for="phone">رقم الهاتف</label>
            <span style="color: red;">*</span>
            <div class="contact-two__input-box">
              <input type="text" placeholder="رقم الهاتف" name="Number" ngModel id="phone" required>
              <div class="text-danger small" *ngIf="addsuggestion.controls['Number']?.invalid && addsuggestion.controls['Number']?.touched">رقم الهاتف مطلوب</div>
            </div>
          </div>
        </div>

        <!-- Sector and Place -->
        <div class="row">
          <div class="col-xl-6">
            <label for="sector">القطاع</label>
            <span style="color: red;">*</span>
            <div class="contact-two__input-box">
              <input type="text" placeholder="القطاع" name="Sector" ngModel id="sector" required>
              <div class="text-danger small" *ngIf="addsuggestion.controls['Sector']?.invalid && addsuggestion.controls['Sector']?.touched">القطاع مطلوب</div>
            </div>
          </div>

          <div class="col-xl-6">
            <label for="place">المكان</label>
            <span style="color: red;">*</span>
            <div class="contact-two__input-box">
              <input type="text" placeholder="المكان" name="Place" ngModel id="place" required>
              <div class="text-danger small" *ngIf="addsuggestion.controls['Place']?.invalid && addsuggestion.controls['Place']?.touched">المكان مطلوب</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <label for="email">البريد الالكتروني</label>
            <span style="color: red;">*</span>
            <div class="contact-two__input-box">
              <input type="email" placeholder="البريد الالكتروني" name="Email" ngModel id="email" required>
              <div class="text-danger small" *ngIf="addsuggestion.controls['Email']?.invalid && addsuggestion.controls['Email']?.touched">البريد الالكتروني مطلوب</div>
            </div>
          </div>
        </div>

        <!-- Idea description -->
        <div class="row">
          <div class="col-xl-12">
            <label for="description">تفاصيل الفكرة</label>
            <span style="color: red;">*</span>
            <div class="contact-two__input-box text-message-box">
              <textarea name="Details" ngModel placeholder="تفاصيل الفكرة" id="description" required></textarea>
              <div class="text-danger small" *ngIf="addsuggestion.controls['Details']?.invalid && addsuggestion.controls['Details']?.touched">تفاصيل الفكرة مطلوبة</div>
            </div>
            <p style="text-align: justify; margin-top: 6%">
              ملاحظة: جميع الحقول المسبوقة بـــ
              <span style="color: red;">*</span>
              إجبارية وفي حالة عدم إدخال أي من هذه البيانات ستظهر رسالة باللون الأحمر تطلب إدخال بيانات الحقل
            </p>
            <div class="contact-two__btn-box">
              <button type="submit" class="thm-btn contact-two__btn" >أرسل</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
