[_nghost-ng-c3348096211] {
  max-width: 1280px;
  padding: 2rem;
  text-align: right !important;
  direction: rtl !important;
}

.contact-two__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: luminosity;
  z-index: -1;
}
.section-title__title {
  margin: 0;
  color: var(--govity-black);
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: var(--govity-letter-spacing);
}

[_ngcontent-ng-c936534057]{

    direction:rtl
}
.row {
  text-align: right;
  direction: rtl;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.contact-two__input-box input[type=text], .contact-two__input-box input[type=email] {
  height: 58px;
  width: 100%;
  border: none;
  background-color: #e9ecef;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  font-size: 14px;
  color: var(--govity-gray);
  display: block;
  letter-spacing: var(--govity-letter-spacing-two);
}
.contact-two__input-box textarea {
  font-size: 14px;
  color: var(--govity-gray);
  height: 190px;
  width: 100%;
  background-color: #e9ecef;
  padding: 20px 30px 30px;
  border: none;
  outline: none;
  margin-bottom: 0px;
  letter-spacing: var(--govity-letter-spacing-two);
}
