.registration-management {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.input-group button {
  margin-left: 5px;
}
/*select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
*/
