<!--Page Header Start-->
<section class="page-header">
  <div class="page-header-bg"
       style="background-image: url(assets/images/backgrounds/orange.jpeg)">
  </div>
  <div class="container">
    <div class="page-header__inner">
      <ul class="thm-breadcrumb list-unstyled">
        <h2>المبرمجين</h2>
        <li><a href="">الرئيسية</a></li>
      </ul>
    </div>
  </div>
</section>
<br>
<br>
<br>
<!--Page Header End-->
<section class="team-one team-page">
  <div class="history-one__top">
    <div class="container" dir="rtl">
      <div class="section-title text-center">
        <div class="section-title__icon">
          <span class="fa fa-star"></span>
        </div>
        <span class="section-title__tagline">مبرمجين الموقع</span>

        <h4 class="">
          فريق المطورين الذي يقف وراء بناء هذا الموقع يتميز بالإلمام العميق بلغات
          البرمجة <br>والتكنولوجيا الحديثة، يعملون بجد لتحويل الأفكار إلى واقع رقمي.
        </h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="team-one__inner">
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="team-one__single">
            <div class="team-one__shape-1">
            </div>
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img class="card-image" src="assets/images/OrangeTeam/mohammad.jpg" alt="">
              </div>
            </div>
            <div class="team-one__content">
              <h3 class="team-one__name"><a href="">Mohammad Alghatibeh</a></h3>
              <p class="team-one__sub-title">Full Stack Web Developer</p>
              <div class="team-one__social">
                <a href="https://github.com/mo-gharibeh" target="blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/mohammadalgharibeh/" target="blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:mohammad.algharibeh98@gmail.com">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4">
          <div class="team-one__single">
            <div class="team-one__shape-1">
            </div>
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img class="card-image" src="assets/images/OrangeTeam/LujainAlazzam.jpg" alt="">
              </div>
            </div>
            <div class="team-one__content">
              <h3 class="team-one__name"><a href="">Lujain alazzam</a></h3>
              <p class="team-one__sub-title">Full Stack Web Developer</p>
              <div class="team-one__social">
                <a href="https://github.com/lujain988" target="blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/lujain-alazzam-3549a61b0/" target="blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a [attr.href]="'mailto:' + email">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="team-one__single">
            <div class="team-one__shape-1">
            </div>
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img class="card-image" src="assets/images/OrangeTeam/DimaAhmad.jpg" alt="">
              </div>
            </div>
            <div class="team-one__content">
              <h3 class="team-one__name"><a href="">Dima Ahmad</a></h3>
              <p class="team-one__sub-title">Full Stack Web Developer</p>
              <div class="team-one__social">
                <a href="https://github.com/dimamohamad" target="blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/dima-ahmad-3b2152270/" target="blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:dima.alahmad02@gmail.com">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4">
          <div class="team-one__single">
            <div class="team-one__shape-1">
            </div>
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img class="card-image" src="assets/images/OrangeTeam/hosam-abuelhija.jpeg" alt="">
              </div>
            </div>
            <div class="team-one__content">
              <h3 class="team-one__name"><a href="">Hosam Abuelhija</a></h3>
              <p class="team-one__sub-title">Full Stack Web Developer</p>
              <div class="team-one__social">
                <a href="https://github.com/hosam-abuelhija" target="blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/hosam-abuelhija-264b032b7/" target="blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:hosam.adnan123@gmail.com">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4">
          <div class="team-one__single">
            <div class="team-one__shape-1">
            </div>
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img class="card-image" src="assets/images/OrangeTeam/Team-Me.jpg">
              </div>
            </div>
            <div class="team-one__content">
              <h3 class="team-one__name"><a href="">Ahmad Al-Qadomi</a></h3>
              <p class="team-one__sub-title">Full Stack Web Developer</p>
              <div class="team-one__social">
                <a href="https://github.com/ahmadqadomi-1" target="blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/ahmadqadomi/" target="blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:ahmad.alqadomi02@gmail.com">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
        </div>



      </div>
    
    </div>

  </div>
</section>
