
<section class="page-header">
  <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/1.jpg)">
  </div>
  <div >
    <div class="page-header__inner">
      <h2>نقل الملكية </h2> <!-- Title added in Arabic -->
      <ul class="thm-breadcrumb list-unstyled">
        <li><a routerLink="">الرئيسية</a></li>
        <!-- Home in Arabic -->
        <li><span>/</span></li>
        <li>نقل الملكية</li> <!-- Portfolio in Arabic -->
      </ul>
    </div>
  </div>
</section>


<div class="container" dir="rtl">
  <div class="section-title text-center">
    <h2 class="section-title__title">طلب نقل الملكية</h2>
    <p class="section-title__description">
      نموذج طلب نقل الملكية للعقارات. يرجى ملء النموذج التالي بالمعلومات الصحيحة والكاملة.
    </p>
  </div>

  <form [formGroup]="ownershipForm" (ngSubmit)="onSubmit()" class="modern-form">
    <div class="form-group">
      <label for="landlord_phone">رقم هاتف المالك الحالي</label>
      <input type="text" placeholder="رقم هاتف المالك الحالي" formControlName="landlordPhone">
    </div>

    <div class="form-group two-columns">
      <div>
        <label for="new_owner_name">اسم المالك الجديد</label>
        <input type="text" placeholder="اسم المالك الجديد" formControlName="newOwnerName">
      </div>
      <div>
        <label for="new_owner_phone">رقم هاتف المالك الجديد</label>
        <input type="text" placeholder="رقم هاتف المالك الجديد" formControlName="newOwnerPhone">
      </div>
    </div>

    <div class="form-group">
      <label for="national_id">الرقم الوطني</label>
      <input type="text" placeholder="الرقم الوطني" formControlName="nationalId">
    </div>

    <div class="form-group two-columns">
      <div>
        <label for="property_number">رقم العقار</label>
        <input type="text" placeholder="رقم العقار" formControlName="propertyNumber">
      </div>
      <div>
        <label for="municipality_name">اسم البلدية</label>
        <input type="text" placeholder="مثل : بني عبيد/ " formControlName="municipalityName">
      </div>
    </div>

    <div class="form-group two-columns">
      <div>
        <label for="basin">الحوض</label>
        <input type="text" placeholder="الحوض" formControlName="basin">
      </div>
      <div>
        <label for="district">المنطقة</label>
        <input type="text" placeholder="المنطقة" formControlName="district">
      </div>
    </div>

    <div class="form-group">
      <label for="land_number">رقم الأرض</label>
      <input type="text" placeholder="رقم الأرض" formControlName="landNumber">
    </div>

    <div class="form-btn">
      <button type="submit" class="btn-submit" [disabled]="!ownershipForm.valid">أرسل</button>
    </div>
  </form>
</div>
