.table {
  margin-top: 20px;
}

  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }

.img-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100px;
}

.alert {
  margin-top: 20px;
}
